body{
    margin: 0px;
    padding: 0px;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}


#add {
    margin-bottom: 20px;
    /* Button background color */
    background-color: #4CAF50;
    
    /* Button text color */
    color: white;
    
    /* Button padding */
    padding: 10px 20px;
    
    /* Button border */
    border: none;
    
    /* Button border radius */
    border-radius: 4px;
    
    /* Button cursor style */
    cursor: pointer;
    
    /* Button hover effect */
    transition: background-color 0.3s ease;
  }
  
  #add:hover {
    background-color: #45a049;
  }


#drag-drop-table {
    border-collapse: collapse;
    text-align: center;
}

#drag-drop-table td {
    width: 100px;
    height: 100px;
}

#undo-button {
    margin-top: 10px;
}
.b1 {
    background-color: red;
}

.b2{
    background-color: blue;
}

.b3 {
    background-color: green;
}
.b4 {
    background-color: rgb(9, 253, 180);
}

.b5 {
    background-color: rgb(255, 0, 221);
}

.b6 {
    background-color: rgb(67, 15, 237);
}
.b7{
    background-color: rgb(255, 251, 0);
}

.b8 {
    background-color: rgb(170, 0, 255);
}

.b9 {
    background-color: rgb(8, 186, 245);
}


